<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongmenhui.launchak47">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--Begin: MI push-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="com.tongmenhui.launchak47.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.tongmenhui.launchak47.permission.MIPUSH_RECEIVE" />
    <!--End: MI Push-->

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".join.LaunchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".join.VerificationCodeJoin"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".join.UpdatePassword"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".join.CreateNewUser"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".meet.FillMeetInfoActivity"
            android:label="@string/title_activity_fill_meet_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".region.activity.RegionSelectionActivity" />
        <activity android:name=".region.activity.BaseActivity" />
        <activity android:name=".main.AddDynamicsActivity" />
        <activity android:name=".meet.MeetArchivesActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".meet.EvaluatorDetailsActivity"
            android:label="@string/evaluator_details"
            android:parentActivityName=".meet.MeetArchivesActivity"/>
        <activity android:name=".meet.ApprovedUsersActivity"
            android:label="@string/evaluator_details"
            android:parentActivityName=".meet.MeetArchivesActivity"/>
        <activity android:name=".main.ArchiveActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".meet.SingleGroupDetailsActivity"
            android:launchMode="singleTop"/>

        <!--Begin: MI push-->
        <service android:enabled="true" android:process=":pushservice" android:name="com.xiaomi.push.service.XMPushService"/>
        <service android:name="com.xiaomi.push.service.XMJobService" android:enabled="true"
            android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service android:enabled="true" android:exported="true" android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true" android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver android:exported="true" android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

    </receiver>
        <receiver android:exported="false" android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:exported="true"
            android:name=".push.MiMessageReceiver">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--End: MI Push-->
        <!--Begin: 高德地图定位-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="ca43f15d494ef6dedc441c848f3d07f5"></meta-data>
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>
